<%= simple_form_for(@album) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <div class="attachinary-photos-list">
      <%= f.attachinary_file_field :photos, as: :attachinary, cloudinary: {use_filename: true, unique_filename: false}%>
      <%= f.submit class: "submit-album"%>
    </div>
  </div>
<% end %>
