<%= simple_form_for(@album) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.attachinary_file_field :photos, as: :attachinary do |f| %>
      <%= f.attachinary_file_field :photos.photo_name %>
    <% end %>
    <%= f.submit class: "submit-album"%>
  </div>
<% end %>







<!--
  <div class="attachinary-photos-list">
  </div>
 -->
