<%= simple_form_for(@album) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>

    <div class="attachinary-photos-list">
      <%= f.fields_for :painting do |builder| %>
      <%= builder.input :name %>
      <%= builder.input :description %>

      <% end %>
    </div>

    <%= f.submit class: "submit-album"%>

  </div>
<% end %>

