<div class="text-center">
  <h1>Add a new painting!</h1>
</div>

<div class="center-container">
  <div class="col-sm-4">
  <%= simple_form_for [ @album, @painting ] do |f|  %>
    <div class="form-inputs">
      <%= f.label :name %> <br>
      <%= f.text_field :name %>
      <%= f.input :description %>
      <%= f.input :photo, multiple: true %>
      <%= f.input :photo_cache, as: :hidden %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Add" %>
    </div>
  <% end %>
  </div>
</div>

