
<div class="row">
  <div class="main-info">
    <div class="contact-info col-sm-3">
      <h4>For availability and prices contact:</h4>
      <p>TOM SCASE</p>
      <p>home: 020 8341 2407</p>
      <p>mob: 07947510811 </p>
      <p>tomscase@btopenworld.com</p>
    </div>
    <div class="other-info col-sm-3">
      <h4>Also visit:</h4>
        <p><%= link_to "www.saatchigallery.com", "http://www.saatchigallery.com/" %> </p>
        <p><%= link_to "www.thelondongroup.com", "http://www.thelondongroup.com/" %> </p>
    </div>
    <div class="w-100"></div>
     <div class="other-info col-sm-3">
      <h4>Also visit:</h4>
        <p><%= link_to "www.saatchigallery.com", "http://www.saatchigallery.com/" %> </p>
        <p><%= link_to "www.thelondongroup.com", "http://www.thelondongroup.com/" %> </p>
    </div>
     <div class="other-info col-sm-3">
      <h4>Also visit:</h4>
        <p><%= link_to "www.saatchigallery.com", "http://www.saatchigallery.com/" %> </p>
        <p><%= link_to "www.thelondongroup.com", "http://www.thelondongroup.com/" %> </p>
    </div>
  </div>
</div>






