<div class="container">
  <div class="row">
    <% @albums.each do |album| %>
      <div class="col-xs-12 col-sm-4 hide">
        <div class="card" style="background-image: url('<%= cl_image_path album.photos.first.path %>');">
          <%= link_to "#", album_path(album), class: "card-link" %>
        </div>
        <div class="card-description">
            <h2><%= album.name %></h2>
            <%= link_to "#", album_path(album), class: "card-link-text"  %>
        </div>
      </div>
      <% end %>
  <% if user_signed_in? %>
    <div class="new-button">
      <button> <%= link_to "create new album", new_album_path %> </button>
    </div>
    <% end %>
  </div>
</div>

<div id="go-to-top-button" class="hidden-xs hidden-sm hidden-md hidden-lg">
  <button onclick="topFunction()" title="Go to top"> GO TO TOP </button>
</div>



<% content_for(:after_js) do %>
<!-- Initialize Swiper -->
  <%= javascript_tag do %>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30,
        keyboardControl: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
    });
  <% end %>
<% end %>
