<div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
    <div class="show-album-name">
       <%= @album.name %>
    </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% @album.photos.each do |images_instance| %>
        <div class="swiper-slide">
          <div class="cardnew" style="background-image: url('<%= cl_image_path images_instance.path %>')"></div>
        </div>
        <% end %>
      </div>
    </div>
    <% if (@album.photos != []) || (@album.photos.count == 1) %>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-all-cards"></div>
    <!-- Add Arrows -->
    <!-- <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div> -->
  <% end %>
    <div class="album-desc-container">
      <div class="show-album-description">
        <%= @album.description.gsub(/\n/, '<br />') %>
      </div>
    </div>
</div>

<div class="hidden-sm hidden-xs">
  <!-- TODO lightbox2 gallery -->
  <div class="show-album-name">
    <%= @album.name %>
  </div>
  <div class="profile-gallery">
    <% @album.photos.each_with_index do |photo, n| %>
      <a href="<%= cl_image_path photo.path %>" data-lightbox="image-profile" data-title="My caption">
        <div class="profile-gallery-img" style="background-image: url(<%= cl_image_path photo.path %>);">
        </div>
      </a>
    <% end %>
  </div>
  <div class="album-desc-container">
    <div class="show-album-description">
      <%= @album.description %>
    </div>
  </div>
</div>

<div class="delete-button" >
  <% if user_signed_in? %>
    <button class="text-center">
      <%= link_to 'delete album', album_path(@album),
      data: {:confirm => 'Are you sure?'}, :method => :delete %>
    </button>
  <% end %>
</div>

<div class="edit-button" >
  <% if user_signed_in? %>
    <button class="text-center">
      <%= link_to 'edit album', edit_album_path(@album) %>
    </button>
  <% end %>
</div>


<% content_for(:after_js) do %>
    <%= javascript_tag do %>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30,
        keyboardControl: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
    });
  <% end %>
<% end %>





