<div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
  <div class="card-info">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% unless @album.photos.empty? %>
          <% @album.photos.each do |images_instance| %>
          <div class="swiper-slide">
            <div class="cardnew" style="background-image: url('<%= cl_image_path images_instance.path %>')"></div>
          </div>
          <% end %>
        <% else %>
          <div class="swiper-slide">
            <div class="cardnew" style="background-image: url('<%= cl_image_path "ux27udjcmjuu3mdcmwsh" %>')">
            </div>
          </div>
        <% end %>
      </div>
    </div>
        <% if (@album.photos != []) || (@album.photos.count == 1) %>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-all-cards"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
      <% end %>
</div>

<div class="hidden-sm hidden-xs">
  <!-- TODO lightbox2 gallery -->
  <div class="profile-gallery">
    <% @album.photos.each_with_index do |photo, n| %>

      <a href="<%= cl_image_path photo.path %>" data-lightbox="image-profile" data-title="My caption">
        <div class="profile-gallery-img" style="background-image: url(<%= cl_image_path photo.path %>);">
        </div>
      </a>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
  <button>
    <%= link_to 'delete album', album_path(@album),
    data: {:confirm => 'Are you sure?'}, :method => :delete %>
  </button>
<% end %>


<% content_for(:after_js) do %>
    <%= javascript_tag do %>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30,
        keyboardControl: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
    });
  <% end %>
<% end %>





