<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
    <div class="col-xs-12 col-sm-4">
      <div class="blog-post">
        <h1><%= post.title %></h1>
        <p><%= post.content %></p>
        <p><%= post.category_id %></p>
        <%= post.photos %>
      </div>
    </div>
    <% end %>
  </div>
</div>


<% if user_signed_in? %>
   <%= simple_form_for(@post) do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.collection_select(:category_id, Category.all, :id, :name,prompt: true ) %>
    <%= f.attachinary_file_field :photos, as: :attachinary, cloudinary: {use_filename: true, unique_filename: false}%>
    <%= f.submit class: "submit-post"%>
  <% end %>
<% end %>
