<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
    <div class="col-xs-12 col-sm-4">
      <div class="blog-post">
        <h1><%= post.title %></h1>
        <p><%= post.content %></p>
        <p><%= post.category_id %></p>
        <%= post.photos %>
      </div>
    </div>
    <% end %>
  </div>
</div>


<% if user_signed_in? %>
  <%= render 'shared/post-form' %>
<% end %>




